extends layout

block content
  h1= title
  p I have no idea what jade is #{title} 

  a(href="insert")
   button(type="button") Insert to database

  a(href="view")
   button(type="button") View items in database
